# yaml-language-server: $schema=../../src/asqi/schemas/asqi_suite_config.schema.json
suite_name: "SIA Accuracy Test Suite"

test_suite:
  - id: "accuracy_rag"
    name: "accuracy_rag"
    image: "asqiengineer/test-container:accuracy_rag-latest"
    systems_under_test:
      - custom_rag_chatbot
    systems:
      evaluator_system: azure-gpt-4o-mini
    volumes:
      input: /workspaces/asqi/input # Change to your local input directory
      output: /workspaces/asqi/output # Change to your local output directory
    datasets:
      rag_accuracy_dataset: 
        loader_params:
          builder_name: "json"
          data_files: "accuracy_rag/base_accuracy_dataset.JSONL"
        mapping:
          question: "question"
          answer: "answer"
          context: "context"
      rag_if_dataset:
        loader_params:
          builder_name: "csv"
          data_files: "accuracy_rag/if_questions_dataset.csv"
        mapping:
          transformed_question: "transformed_question"
          original_question: "original_question"
          instruction_type: "instruction_type"
          instruction_type_metadata: "instruction_type_metadata"
    params:
      max_rows: 2